@media (max-width: 767px) {
  .important-date__details__contant {
    top: -25%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .important-date__details__contant {
    top: -35%;
  }
  .footer__social-media {
    font-size: 20px;
  }
}
